:root {
  --primary-color: #410c00;
  --secondary-color: #210082;
  --color-text: #ffffff;
  --color-text2: #410c00;
  --color-text3: #210082;
  --background-color: #f0b243;
  --background-color2: #ffffff;
  --background-button: #ff1a1a;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0%;
  padding: 0%;
  color: white;
  font-family: "SnickersDisplay";
}

@font-face {
  font-family: "SnickersDisplay";
  src: url("font/SnickersSansDisplay-Epic_0.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "SnickersText";
  src: url("font/SnickersSansText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

h2,
h3 {
  color: black;
  font-family: "SnickersDisplay";
  font-size: 2.5em;
} /* later verwijderen*/

/* Header  (Hulp van derde jaar)*/

header {
  background-color: var(--primary-color);
}

header img {
  width: 4em;
}

header nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}

header nav button {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  background-color: transparent;
  border: none;
  justify-content: center;
  cursor: pointer;
}

header nav button span {
  display: block;
  width: 2.3em;
  height: 5px;
  background-color: var(--background-color2);
}

header nav ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 4.5em;
  left: 0;
  width: 100%;
  height: 46em;
  background-color: var(--primary-color);
  padding: 1em;
  gap: 2em;
  transform: translateX(100vw);
  transition: 0.5s;
  z-index: 2;
}

header nav ul.active {
  transform: translateX(0);
}

header nav ul li {
  text-transform: uppercase;
  font-size: 2em;
}

header li a:hover {
  color: var(--background-color);
}

/****************/
/* Eerste Pagina*/
/****************/

section:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(1fr 1fr);
  flex-direction: column;
}

section:nth-of-type(1) video {
  grid-area: 1 / 1;
  width: 100%;
  height: auto;
  filter: brightness(0.9);
}

section:nth-of-type(1) div {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  color: var(--color-text);
  z-index: 1;
}

section:nth-of-type(1) h2 {
  font-size: 3.3em;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: var(--color-text);
}

section:nth-of-type(1) span {
  display: block;
  font-size: 0.3em;
  padding-bottom: 1em;
  font-family: "SnickersText", sans-serif;
}

section:nth-of-type(1) a {
  display: block;
  font-size: 1em;
  width: max-content;
  background: var(--secondary-color);
  padding: 1em 2em;
  border-radius: 2em;
}

/* hulp van studentenassistent*/
section:nth-of-type(2) {
  display: grid;
  background-color: var(--primary-color);
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 4em;
  gap: 2em;
}


section:nth-of-type(2) img {
  width: 100%;
  height: auto;
}

section:nth-of-type(2) h2 {
  color: var(--color-text);
  font-size: 4em;
  text-transform: uppercase;
  margin: 0;
}

section:nth-of-type(2) span {
  display: block;
  font-size: 0.3em;
  font-weight: 300;
  padding-bottom: 1em;
  font-family: "SnickersText", sans-serif;
}

section:nth-of-type(2) a {
  display: block;
  font-size: 1em;
  width: max-content;
  background: var(--background-button);
  padding: 1em 3em;
  border-radius: 2em;
  margin-top: 2em;
}

/* hulp van studentenassistent*/
@media (width < 650px) {
  section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
  }
}

figure img {
  width: 100%;
  height: auto;
}

footer {
  background-color: var(--primary-color);
}

section:nth-of-type(3) {
  padding: 3em;
  text-align: center;
}

section:nth-of-type(3) h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: var(--color-text2);
}

section:nth-of-type(3) ul li img {
  width: 40%;
  height: auto;
}

section:nth-of-type(4) {
  display: grid;
  grid-template-columns: repeat(1fr 1fr);
}

section:nth-of-type(4) img {
  grid-area: 1/1;
  width: 100%;
  height: auto;

}

section:nth-of-type(4) span {
  display: block;
  font-size: 0.3em;
  font-weight: 300;
  font-family: "SnickersText", sans-serif;
  text-transform: uppercase;
  color: var(--color-text);
  margin: 3em;
}

section:nth-of-type(4) h2 {
  grid-area: 1/1;
  color: var(--color-text);
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-text);
}

